doctype html
html(lang='es')
  head
    // Title
    title Anonymous Pictures
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='UTF-8')
    meta(name='description', content='Proyecto final DSI ')
    meta(name='keywords', content='fotografia,pictures')
    meta(name='author', content='Carlos Fernandez Donate / David Dorta Acosta')
    // Styles
    link(type='text/css', rel='stylesheet', href='assets/plugins/materialize/css/materialize.min.css')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='assets/plugins/metrojs/MetroJs.min.css', rel='stylesheet')
    link(href='assets/plugins/weather-icons-master/css/weather-icons.min.css', rel='stylesheet')
    link(href='assets/css/login.css', rel='stylesheet')
    // Theme Styles
    link(href='assets/css/alpha.min.css', rel='stylesheet', type='text/css')
    link(href='assets/css/custom.css', rel='stylesheet', type='text/css')
  body
    .loader
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-teal.lighten-1
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-yellow
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
        .spinner-layer.spinner-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
    .mn-content.fixed-sidebar
      header.mn-header.navbar-fixed
        nav.teal.lighten-1
          .nav-wrapper.row
            section.material-design-hamburger.navigation-toggle
              a.button-collapse.show-on-large.material-design-hamburger__icon(href='javascript:void(0)', data-activates='slide-out')
                span.material-design-hamburger__layer
            a(href='/')
              .header-title.col.s3.m3
                span.chapter-title Anonymous Pictures
            //
              BOTON DE CERRAR SESION
              <ul class="right col s9 m3 nav-right-menu">
              <li><a href="javascript:void(0)" data-activates="chat-sidebar" class="chat-button show-on-large"><i class="material-icons">power_settings_new</i></a></li>
              </ul>
      aside#slide-out.side-nav.white.fixed
        .side-nav-wrapper
          // logo
          img.responsive-img(src='assets/images/logo.png', alt='')
          // Menu lateral izquierdo
          ul.sidebar-menu.collapsible.collapsible-accordion(data-collapsible='accordion')
            li.no-padding.active
              a.waves-effect.waves-grey.active(href='/')
                i.material-icons perm_media
                | INICIO
            li.no-padding
            li.no-padding.active
              a.waves-effect.waves-grey.active(href='login')
                i.material-icons person_pin
                | login
            li.no-padding
            li.no-padding.active
              a.waves-effect.waves-grey.active(href='#')
                i.material-icons input
                | crear cuenta
            li.no-padding
          .footer
            p.copyright
              | © 2017
              br
              | Carlos Fernandez
              br
              |  David Dorta
            a(href='/#!') Privacy
            |  &
            a(href='/#!') Terms
      main.mn-inner.inner-active-sidebar
        // Contenedor del cuerpo de la pagina
        .middle-content
          .slider.fullscreen
            ul.slides
              li
                img(src='data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', style='background-image: url("https://ununsplash.imgix.net/photo-1414849424631-8b18529a81ca?q=75&fm=jpg&s=0e993004a2f3704e8f2ad5469315ccb7");')
                .caption.center-align
                  form(action="add", method="post")
                    .group
                      input(type='mail', name='email')
                      span.highlight
                      span.bar
                      label
                        i.tiny.material-icons email
                        | Email
                    .group
                      input(type='text', name='username')
                      span.highlight
                      span.bar
                      label
                        i.tiny.material-icons perm_identity
                        | Nombre de Usuario
                    .group
                      input(type='password', name='password')
                      span.highlight
                      span.bar
                      label
                        i.tiny.material-icons lock
                        | Contraseña
                    .group
                      input(type='password', name='psw2')
                      span.highlight
                      span.bar
                      label
                        i.tiny.material-icons lock
                        | Confirmar contraseña
                    input(type='submit', value='Registrarse')
                    button.button.buttonBlue(type='button')
                      | Registrarse
                      .ripples.buttonRipples
                        span.ripplesCircle
      // Contenedor del footer
      .page-footer
    .left-sidebar-hover
    // Javascripts
    script(src='assets/plugins/jquery/jquery-2.2.0.min.js')
    script(src='assets/plugins/materialize/js/materialize.min.js')
    script(src='assets/plugins/material-preloader/js/materialPreloader.min.js')
    script(src='assets/plugins/jquery-blockui/jquery.blockui.js')
    script(src='assets/plugins/waypoints/jquery.waypoints.min.js')
    script(src='assets/plugins/counter-up-master/jquery.counterup.min.js')
    script(src='assets/plugins/jquery-sparkline/jquery.sparkline.min.js')
    script(src='assets/plugins/chart.js/chart.min.js')
    script(src='assets/plugins/flot/jquery.flot.min.js')
    script(src='assets/plugins/flot/jquery.flot.time.min.js')
    script(src='assets/plugins/flot/jquery.flot.symbol.min.js')
    script(src='assets/plugins/flot/jquery.flot.resize.min.js')
    script(src='assets/plugins/flot/jquery.flot.tooltip.min.js')
    script(src='assets/plugins/curvedlines/curvedLines.js')
    script(src='assets/plugins/peity/jquery.peity.min.js')
    script(src='assets/js/alpha.min.js')
    script(src='assets/js/pages/dashboard.js')
    script(src='js/login.js')
